<!DOCTYPE html>
<html lang="en">
<!--
_        _______  _______  _       _________ _        _______
( \      (  ___  )(  ___  )| \    /\\__   __/( (    /|(  ____ \
| (      | (   ) || (   ) ||  \  / /   ) (   |  \  ( || (    \/
| |      | |   | || |   | ||  (_/ /    | |   |   \ | || |
| |      | |   | || |   | ||   _ (     | |   | (\ \) || | ____
| |      | |   | || |   | ||  ( \ \    | |   | | \   || | \_  )
| (____/\| (___) || (___) ||  /  \ \___) (___| )  \  || (___) |
(_______/(_______)(_______)|_/    \/\_______/|/    )_)(_______)

_______  _______  _______
(  ____ \(  ___  )(  ____ )
| (    \/| (   ) || (    )|
| (__    | |   | || (____)|
|  __)   | |   | ||     __)
| (      | |   | || (\ (
| )      | (___) || ) \ \__
|/       (_______)|/   \__/

_______  _______  _______  _______ _________         _________ _        _______     _____
(  ____ \(  ___  )(       )(  ____ \\__   __/|\     /|\__   __/( (    /|(  ____ \   / ___ \
| (    \/| (   ) || () () || (    \/   ) (   | )   ( |   ) (   |  \  ( || (    \/  ( (   ) )
| (_____ | |   | || || || || (__       | |   | (___) |   | |   |   \ | || |         \/  / /
(_____  )| |   | || |(_)| ||  __)      | |   |  ___  |   | |   | (\ \) || | ____       ( (
     ) || |   | || |   | || (         | |   | (   ) |   | |   | | \   || | \_  )      | |
/\____) || (___) || )   ( || (____/\   | |   | )   ( |___) (___| )  \  || (___) |      (_)
\_______)(_______)|/     \|(_______/   )_(   |/     \|\_______/|/    )_)(_______)       _
                                                                                      (_)


──────▄▀▄─────▄▀▄
─────▄█░░▀▀▀▀▀░░█▄
─▄▄──█░░░░░░░░░░░█──▄▄
█▄▄█─█░░▀░░┬░░▀░░█─█▄▄█
I know you are here
-->
<head>
    {% include head.html %}
    {% seo %}
</head>

<body>

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

</body>
    {% if site.google_analytics %}
        {% include google_analytics.html %}
    {% endif %}
</html>
